html {
    /* min-height: 100vh; */
}
body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

/* styling the upper portion of the header where the logo and page icons are located */

.upper-header-container {
    width: 100%;
    min-height: 60px;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    position: fixed;
}
.gender-categories {
    width: 40%;
    /* background-color: rgb(184, 92, 92); */
    margin-left: 40px;
    display: inline-block;
}
.gender-categories a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    font-weight: 700px;
    border-bottom: 3px solid white;
    padding: 1px 0px;
}
.gender-categories i {
    display: none;
}
.gender-categories a:hover {
    color: red;
    border-bottom: 3px solid rgb(255, 0, 0);
}

.logo {
    width: 20%;
    /* background-color: rgb(118, 81, 219); */
    text-align: center;
}
.menu-icons {
    width: 40%;
    /* background-color: rgb(95, 184, 92); */
    display: inline-block;
    text-align: right;
    margin-right: 40px;
}
.menu-icons i {
    color: white;
    font-size: 1rem;
    margin-left: 20px;
}
.menu-icons i:hover {
    color: rgb(255, 0, 0);
}

/* styling the lower portion of the header where the logo and page icons are located */

.lower-header-container {
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    display: flex;
    text-align: center;
    align-items: center;
    justify-items: space-between;
    padding: 0px auto;
}
.lower-header-container a {
    padding: 0px 1px;
    margin: 0px auto;
}
.lower-header-container a {
    flex:1;
    text-decoration: none;
    color: rgb(0, 0, 0);
    /* margin-right: 20px; */
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
}
.lower-header-container a:hover {
    color: red;
}
.main1 {
    width: 100%;
    height: 500px;
    background-image: url(images/main.jpg);
    background-position: top;
    background-size: contain;
    background-repeat: none;
    text-align: center;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
}
.main1-header {
    width: 100%;
}

.main1 h1 {
    width: 100%;
    font-size: 4rem;
    font-weight: bold;
    color: white;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
    /* background-color: rgb(194, 95, 95); */
}
.main1 h2 {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 300px;
    color: white;
    /* text-shadow: 0px 0px 5px rgb(0, 0, 0); */
    /* background-color: rgb(116, 35, 35); */
}
.cards {
    max-width: 100%;
    min-height: 300px;
    /* background-color: blue; */
    margin:0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0px;
}
.card {
    margin:20px 0px;
    box-shadow: 0px 0px 2px rgb(165, 165, 165);
    box-sizing: border-box;
}
.cards img {
    max-width: 100%;
    height: 322px;
    margin-top:20px;
}
.card-content {
    margin: 20px 20px;
    display: block;
}
.product-title {
    color: rgb(0, 0, 0);
}
.lower-card {
    display: flex;
    
}
.product-price {
    width: 50%;
    margin-top: 10px;
    color: rgb(255, 0, 0);
    font-size: 0.85rem;
}
.product-icon {
    width: 50%;
    margin-top: 10px;
    text-align: right;

}
.product-icon i:hover {
    color: red;

}
.card1 {
    width: 18%;
    min-height: 300px;
}
.card2 {
    width: 18%;
    min-height: 300px;
}
.card3 {
    width: 18%;
    min-height: 300px;
}
.card4 {
    width: 18%;
    min-height: 300px;
}
.card5 {
    width: 18%;
    min-height: 300px;
}
.card6 {
    width: 18%;
    min-height: 300px;
}
.card7 {
    width: 18%;
    min-height: 300px;
}
.card8 {
    width: 18%;
    min-height: 300px;
}
.card9 {
    width: 18%;
    min-height: 300px;
}
.card10 {
    width: 18%;
    min-height: 300px;
}


/* hide on desktop */

.hide-desktop {
    display: none;
}
.hide-tablet {
    display: block;
}
.hide-mobile {
    display: block;
}

/* pre-tablet responsiveness breakpoint */
@media (max-width:1074px) {
    .card {
        width: 23%;
    }
}


/* tablet responsiveness breakpoint */
@media (max-width:860px) {

    .gender-categories a {
        display: none;
    }

    .gender-categories i {
        display: block;
        color: white;
        font-size: 1rem;
        margin-left: 0px;
    }
    .lower-header-container {
        display: none;
    }
    .main1 {
        background-size: cover;
    }
    .main1 h1 {
        font-size: 2.5rem;
    }
    .main1 h2 {
        font-size: 1.2rem;
    }
    .card {
        width: 30%;
    }

/* hide on tablet */

.hide-desktop {
    display: block;
}
.hide-tablet {
    display: none;
}
.hide-mobile {
    display: block;
}

}
/* pre-tablet responsiveness breakpoint */
@media (max-width:655px) {
    .card {
        width: 43%;
    }
    .cards img {
        max-width: 100%;
        height: 360px;
        margin-top:20px;
    }
}


/* pre-mobile responsiveness breakpoint */
@media (max-width: 480px) {
    .card {
        width: 88%;
    }
    .cards img {
        max-width: 100%;
        height: 540px;
        margin-top:20px;
    }
}


/* mobile responsiveness breakpoint */
@media (max-width: 362px) {
    .logo {
        margin-right: 25px;
    }
    .menu-icons i:first-of-type {
        display: none;
    }
    .menu-icons i:nth-of-type(2) {
        display: none;
    }
    .card {
        width: 88%;
    }
    .cards img {
        max-width: 100%;
        height: 400px;
        margin-top:20px;
    }










/* hide on mobile */
    .hide-desktop {
        display: block;
    }
    .hide-tablet {
        display: block;
    }
    .hide-mobile {
        display: none;
    }
    

}